In [4]:
# Paso 1: Instalar la librería pingouin
#!pip3 install pingouin

In [8]:
# Paso 2: Importar las librerias
# Libreria para manejo de datos
import pandas as pd
# Libreria para prueba de Scheffé
import pingouin as pg

# Paso 3: Crear los datos
data = {
    'Grupo': ['A', 'A', 'A', 'B', 'B', 'B', 'C', 'C', 'C', 'D', 'D', 'D'],
    'Calificaciones': [85, 88, 86, 78, 82, 79, 92, 90, 91, 88, 86, 87]
}
df = pd.DataFrame(data)

# Paso 4: Calcular el ANOVA
pg.anova(data=df, dv='Calificaciones', between='Grupo')

# Paso 5: Prueba de Scheffé
pg.pairwise_tukey(data=df, dv='Calificaciones', between='Grupo')

,A,B,mean(A),mean(B),diff,se,T,p-tukey,hedges
0,A,B,86.333333,79.666667,6.666667,1.20185,5.547002,0.002419,3.623287
1,A,C,86.333333,91.000000,-4.666667,1.20185,-3.882901,0.019499,-2.536301
2,A,D,86.333333,87.000000,-0.666667,1.20185,-0.554700,0.942657,-0.362329
3,B,C,79.666667,91.000000,-11.333333,1.20185,-9.429903,0.000061,-6.159587
4,B,D,79.666667,87.000000,-7.333333,1.20185,-6.101702,0.001302,-3.985615
5,C,D,91.000000,87.000000,4.000000,1.20185,3.328201,0.041902,2.173972